## PROMOTE GENDER EQUALITY AND EMPOWER WOMEN

## Análise Exploratória de Dados

In [1]:
from IPython.display import display, Markdown, Latex
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1 - Lendo os dados

In [2]:
#Dados incompletos pegados do site http://hdr.undp.org/en/content/developing-regions  (menu esquerda 'Download DB 2018')
filename = 'Dados/HDR_2018_data.xlsx'
first_data = pd.read_excel(filename)

#Dados conseguidos numa outra source para categorizar os paises por regiao e income type
metadata_filename = 'Dados/HDR_2018_country_metadata.xlsx'
country_metadata = pd.read_excel(metadata_filename)

In [3]:
print(first_data.shape)
print(country_metadata.shape)

(25636, 34)
(217, 4)

In [4]:
first_data.head()

,dimension,indicator_id,indicator_name,iso3,country_name,1990,1991,1992,1993,1994,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,9999
0,Composite indices,146206,HDI rank,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168.0,168.0,NaN
1,Composite indices,146206,HDI rank,ALB,Albania,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,68.0,NaN
2,Composite indices,146206,HDI rank,DZA,Algeria,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,85.0,NaN
3,Composite indices,146206,HDI rank,AND,Andorra,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,35.0,NaN
4,Composite indices,146206,HDI rank,AGO,Angola,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,147.0,NaN

In [5]:
country_metadata.head()

,Code,Long Name,Income Group,Region
0,AFG,Islamic State of Afghanistan,Low income,South Asia
1,ALB,Republic of Albania,Upper middle income,Europe & Central Asia
2,DZA,People's Democratic Republic of Algeria,Upper middle income,Middle East & North Africa
3,ASM,American Samoa,Upper middle income,East Asia & Pacific
4,AND,Principality of Andorra,High income,Europe & Central Asia

In [6]:
#Fazemos merge para poder categorizar os dados por regiao e grupo de income
data = pd.merge(left=first_data, right=country_metadata, how='left', left_on='iso3', right_on='Code')

#Evitamos redundancias
data.drop('Code', axis=1, inplace=True) # 1 is the axis number (0 for rows and 1 for columns) & inplace to not have to reassign a new df

In [7]:
data.shape

(25636, 37)

In [8]:
data.head()

,dimension,indicator_id,indicator_name,iso3,country_name,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,9999,Long Name,Income Group,Region
0,Composite indices,146206,HDI rank,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168.0,168.0,NaN,Islamic State of Afghanistan,Low income,South Asia
1,Composite indices,146206,HDI rank,ALB,Albania,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.0,68.0,NaN,Republic of Albania,Upper middle income,Europe & Central Asia
2,Composite indices,146206,HDI rank,DZA,Algeria,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,83.0,85.0,NaN,People's Democratic Republic of Algeria,Upper middle income,Middle East & North Africa
3,Composite indices,146206,HDI rank,AND,Andorra,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35.0,35.0,NaN,Principality of Andorra,High income,Europe & Central Asia
4,Composite indices,146206,HDI rank,AGO,Angola,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,145.0,147.0,NaN,People's Republic of Angola,Lower middle income,Sub-Saharan Africa

In [14]:
#Mudando nome de algumas colunas
data.rename(columns={'dimension':'category','iso3':'code','Long Name':'long_name','Income Group':'income_group','Region':'region'},inplace=True)

In [15]:
data.head()

,category,indicator_id,indicator_name,code,country_name,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,9999,long_name,income_group,region
0,Composite indices,146206,HDI rank,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168.0,168.0,NaN,Islamic State of Afghanistan,Low income,South Asia
1,Composite indices,146206,HDI rank,ALB,Albania,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.0,68.0,NaN,Republic of Albania,Upper middle income,Europe & Central Asia
2,Composite indices,146206,HDI rank,DZA,Algeria,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,83.0,85.0,NaN,People's Democratic Republic of Algeria,Upper middle income,Middle East & North Africa
3,Composite indices,146206,HDI rank,AND,Andorra,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35.0,35.0,NaN,Principality of Andorra,High income,Europe & Central Asia
4,Composite indices,146206,HDI rank,AGO,Angola,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,145.0,147.0,NaN,People's Republic of Angola,Lower middle income,Sub-Saharan Africa

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25636 entries, 0 to 25635
Data columns (total 37 columns):
category          25636 non-null object
indicator_id      25636 non-null int64
indicator_name    25636 non-null object
code              25636 non-null object
country_name      25636 non-null object
1990              10073 non-null float64
1991              7454 non-null float64
1992              5740 non-null float64
1993              5986 non-null float64
1994              5808 non-null float64
1995              13849 non-null float64
1996              6217 non-null float64
1997              6347 non-null float64
1998              6384 non-null float64
1999              6462 non-null float64
2000              16612 non-null float64
2001              7556 non-null float64
2002              7582 non-null float64
2003              7627 non-null float64
2004              7708 non-null float64
2005              17048 non-null float64
2006              12885 non-null float64
2007              12925 non-null float64
2008              12856 non-null float64
2009              13164 non-null float64
2010              18653 non-null float64
2011              17555 non-null float64
2012              17401 non-null float64
2013              17436 non-null float64
2014              17644 non-null float64
2015              18381 non-null float64
2016              16277 non-null float64
2017              12728 non-null float64
9999              23606 non-null float64
long_name         25636 non-null object
income_group      25636 non-null object
region            25636 non-null object
dtypes: float64(29), int64(1), object(7)
memory usage: 7.4+ MB

Os dados parecem estar corretamente classificados, sendo:
    * 'object' os dados de string
    * 'int' e 'float64' os dados numericos

## Convertindo o DataSet

Segundo o principio de 'tidy data':
    * Colunas representas variaveis diferentes
    * Linhas representam observacoes individuais

Entao o nosso dataset tem que ser modificado para ter nas colunas os dados que nos interessam.

In [16]:
data_per_year = pd.melt(frame=data, id_vars=['category','indicator_id','indicator_name','code', 'country_name','long_name','income_group','region'], var_name = 'year')

In [13]:
data_per_year.head()

,category,indicator_id,indicator_name,code,country_name,long_name,income_group,region,year,value
0,Composite indices,146206,HDI rank,AFG,Afghanistan,Islamic State of Afghanistan,Low income,South Asia,1990,NaN
1,Composite indices,146206,HDI rank,ALB,Albania,Republic of Albania,Upper middle income,Europe & Central Asia,1990,NaN
2,Composite indices,146206,HDI rank,DZA,Algeria,People's Democratic Republic of Algeria,Upper middle income,Middle East & North Africa,1990,NaN
3,Composite indices,146206,HDI rank,AND,Andorra,Principality of Andorra,High income,Europe & Central Asia,1990,NaN
4,Composite indices,146206,HDI rank,AGO,Angola,People's Republic of Angola,Lower middle income,Sub-Saharan Africa,1990,NaN

In [17]:
data_per_year.shape

(743444, 10)

In [18]:
data_per_year.drop('category', axis=1, inplace=True)
data_per_year.drop('indicator_id', axis=1, inplace=True)
data_per_year.drop('long_name', axis=1, inplace=True)

In [19]:
data_per_year.head()

,indicator_name,code,country_name,income_group,region,year,value
0,HDI rank,AFG,Afghanistan,Low income,South Asia,1990,NaN
1,HDI rank,ALB,Albania,Upper middle income,Europe & Central Asia,1990,NaN
2,HDI rank,DZA,Algeria,Upper middle income,Middle East & North Africa,1990,NaN
3,HDI rank,AND,Andorra,High income,Europe & Central Asia,1990,NaN
4,HDI rank,AGO,Angola,Lower middle income,Sub-Saharan Africa,1990,NaN

In [31]:
# 157 indicadores estudados
indicators = data.indicator_name.unique()
print(indicators.shape)
print(indicators)

(157,)
['HDI rank' 'Human Development Index (HDI)' 'Median age (years)'
 'Old-age (65 and older) dependency ratio (per 100 people ages 15-64)'
 'Population ages 15–64 (millions)'
 'Population ages 65 and older (millions)'
 'Population under age 5 (millions)'
 'Sex ratio at birth (male to female births)'
 'Total population (millions)' 'Urban population (%)'
 'Young age (0-14) dependency ratio (per 100 people ages 15-64)'
 'Education index' 'Expected years of schooling (years)'
 'Expected years of schooling, female (years)'
 'Expected years of schooling, male (years)'
 'Government expenditure on education (% of GDP)'
 'Gross enrolment ratio, pre-primary (% of preschool-age children)'
 'Gross enrolment ratio, primary (% of primary school-age population)'
 'Gross enrolment ratio, secondary (% of secondary school-age population)'
 'Gross enrolment ratio, tertiary (% of tertiary school-age population)'
 'Literacy rate, adult (% ages 15 and older)'
 'Mean years of schooling (years)'
 'Mean years of schooling, female (years)'
 'Mean years of schooling, male (years)'
 'Population with at least some secondary education (% ages 25 and older)'
 'Population with at least some secondary education, female (% ages 25 and older)'
 'Population with at least some secondary education, male (% ages 25 and older)'
 'Primary school dropout rate (% of primary school cohort)'
 'Primary school teachers trained to teach (%)'
 'Programme for International Student Assessment (PISA) score in mathematics'
 'Programme for International Student Assessment (PISA) score in reading'
 'Programme for International Student Assessment (PISA) score in science'
 'Proportion of schools with access to the Internet (%)'
 'Pupil-teacher ratio, primary school (pupils per teacher)'
 'Survival rate to the last grade of lower secondary general education (%)'
 'Carbon dioxide emissions (kg per 2011 PPP $ of GDP)'
 'Carbon dioxide emissions, per capita (tonnes)'
 'Forest area (% of total land area)' 'Forest area, change (%)'
 'Fossil fuel energy consumption (% of total energy consumption)'
 'Fresh water withdrawals (% of total renewable water resources)'
 'Mortality rate attributed to household and ambient air pollution (per 100,000 population)'
 'Mortality rate attributed to unsafe water, sanitation and hygiene services (per 100,000 population)'
 'Red List Index (value)'
 'Renewable energy consumption (% of total final energy consumption)'
 'Adolescent birth rate (births per 1,000 women ages 15-19)'
 'Antenatal care coverage, at least one visit (%)'
 'Child marriage, women married by age 18 (% of women ages 20–24 years who are married or in union)'
 'Contraceptive prevalence, any method (% of married or in-union women of reproductive age, 15–49 years)'
 'Estimated gross national income per capita, female (2011 PPP $)'
 'Estimated gross national income per capita, male (2011 PPP $)'
 'Female share of employment in senior and middle management (%)'
 'Female share of graduates in science, mathematics, engineering, manufacturing and construction at tertiary level (%)'
 'Gender Development Index (GDI)' 'Gender Inequality Index (GII)'
 'Human Development Index (HDI), female'
 'Human Development Index (HDI), male'
 'Mandatory paid maternity leave (days)'
 'Maternal mortality ratio (deaths per 100,000 live births)'
 'Proportion of births attended by skilled health personnel (%)'
 'Share of employment in nonagriculture, female (% of total employment in nonagriculture)'
 'Share of seats in parliament (% held by women)'
 'Total unemployment rate (female to male ratio)'
 'Unmet need for family planning (% of married or in-union women of reproductive age, 15–49 years)'
 'Violence against women ever experienced, intimate partner (% of female population ages 15 and older)'
 'Violence against women ever experienced, nonintimate partner (% of female population ages 15 and older)'
 'Women with account at financial institution or with mobile money-service provider (% of female population ages 15 and older)'
 'Youth unemployment rate (female to male ratio)'
 'Child malnutrition, stunting (moderate or severe) (% under age 5)'
 'Current health expenditure (% of GDP)'
 'HIV prevalence, adult (% ages 15-49)'
 'Infants lacking immunization, DPT (% of one-year-olds)'
 'Infants lacking immunization, measles (% of one-year-olds)'
 'Life expectancy at birth (years)'
 'Life expectancy at birth, female (years)'
 'Life expectancy at birth, male (years)' 'Life expectancy index'
 'Malaria incidence (per 1,000 people at risk)'
 'Mortality rate, female adult (per 1,000 people)'
 'Mortality rate, infant (per 1,000 live births)'
 'Mortality rate, male adult (per 1,000 people)'
 'Mortality rate, under-five (per 1,000 live births)'
 'Tuberculosis incidence (per 100,000 people)'
 'Birth registration (% under age 5)'
 'Homeless people due to natural disaster (average annual per million people)'
 'Homicide rate (per 100,000 people)'
 'Prison population (per 100,000 people)'
 'Refugees by country of origin (thousands)'
 'Suicide rate, female (per 100,000 people)'
 'Suicide rate, male (per 100,000 people)'
 'Domestic credit provided by financial sector (% of GDP)'
 'GDP per capita (2011 PPP $)'
 'Gross domestic product (GDP), total (2011 PPP $ billions)'
 'Gross fixed capital formation (% of GDP)'
 'Gross national income (GNI) per capita (2011 PPP $)' 'Income index'
 'Coefficient of human inequality' 'Income inequality, Gini coefficient'
 'Income inequality, Palma ratio' 'Income inequality, quintile ratio'
 'Inequality in education (%)' 'Inequality in income (%)'
 'Inequality in life expectancy (%)' 'Inequality-adjusted education index'
 'Inequality-adjusted HDI (IHDI)' 'Inequality-adjusted income index'
 'Inequality-adjusted life expectancy index'
 'Overall loss in HDI due to inequality (%)'
 'International inbound tourists (thousands)'
 'International student mobility (% of total tertiary enrolment)'
 'Internet users, female (% of female population)'
 'Internet users, total (% of population)'
 'Mobile phone subscriptions (per 100 people)'
 'Net migration rate (per 1,000 people)'
 'MPI 2018: Contribution of Education' 'MPI 2018: Contribution of Health'
 'MPI 2018: Contribution of standard of living' 'MPI 2018: Year of MPI'
 'Multidimensional poverty index (MPI)'
 'Population in multidimensional poverty, headcount (%)'
 'Population in multidimensional poverty, headcount (thousands) (for the year of the survey)'
 'Population in multidimensional poverty, headcount (thousands) (projection for 2016)'
 'Population in multidimensional poverty, intensity of deprivation (%)'
 'Population in severe multidimensional poverty (%)'
 'Population living below income poverty line, national poverty line (%)'
 'Population living below income poverty line, PPP $1.90 a day (%)'
 'Population vulnerable to multidimensional poverty (%)'
 'Working poor at PPP$3.10 a day (% of total employment)'
 'Adjusted net savings (% of GNI)' 'Concentration index (exports) (value)'
 'Gross capital formation (% of GDP)'
 'Income quintile ratio, average annual change (%)'
 'Overall loss in HDI value due to inequality, average annual change (%)'
 'Population using improved drinking-water sources (%)'
 'Population using improved sanitation facilities (%)'
 'Ratio of education and health expenditure to military expenditure'
 'Research and development expenditure (% of GDP)'
 'Rural population with access to electricity (%)'
 'Skilled labour force (% of labour force)'
 'Total debt service (% of exports of goods, services and primary income)'
 'Exports and imports (% of GDP)'
 'Foreign direct investment, net inflows (% of GDP)'
 'Net official development assistance received (% of GNI)'
 'Private capital flows (% of GDP)' 'Remittances, inflows (% of GDP)'
 'Child labour (% ages 5-17)'
 'Employment in agriculture (% of total employment)'
 'Employment in services (% of total employment)'
 'Employment to population ratio (% ages 15 and older)'
 'Labour force participation rate (% ages 15 and older)'
 'Labour force participation rate (% ages 15 and older), female'
 'Labour force participation rate (% ages 15 and older), male'
 'Old-age pension recipients (% of statutory pension age population)'
 'Unemployment, total (% of labour force)'
 'Unemployment, youth (% ages 15–24)'
 'Vulnerable employment (% of total employment)'
 'Youth not in school or employment (% ages 15-24)']

In [28]:
# Diferentes indicadores de genero estudados
gender_indicators = data[(data.category == 'Gender')].indicator_name.unique()
print(gender_indicators)

['Adolescent birth rate (births per 1,000 women ages 15-19)'
 'Antenatal care coverage, at least one visit (%)'
 'Child marriage, women married by age 18 (% of women ages 20–24 years who are married or in union)'
 'Contraceptive prevalence, any method (% of married or in-union women of reproductive age, 15–49 years)'
 'Estimated gross national income per capita, female (2011 PPP $)'
 'Estimated gross national income per capita, male (2011 PPP $)'
 'Female share of employment in senior and middle management (%)'
 'Female share of graduates in science, mathematics, engineering, manufacturing and construction at tertiary level (%)'
 'Gender Development Index (GDI)' 'Gender Inequality Index (GII)'
 'Human Development Index (HDI), female'
 'Human Development Index (HDI), male'
 'Mandatory paid maternity leave (days)'
 'Maternal mortality ratio (deaths per 100,000 live births)'
 'Proportion of births attended by skilled health personnel (%)'
 'Share of employment in nonagriculture, female (% of total employment in nonagriculture)'
 'Share of seats in parliament (% held by women)'
 'Total unemployment rate (female to male ratio)'
 'Unmet need for family planning (% of married or in-union women of reproductive age, 15–49 years)'
 'Violence against women ever experienced, intimate partner (% of female population ages 15 and older)'
 'Violence against women ever experienced, nonintimate partner (% of female population ages 15 and older)'
 'Women with account at financial institution or with mobile money-service provider (% of female population ages 15 and older)'
 'Youth unemployment rate (female to male ratio)']

(23,)

In [22]:
# Depois desse comando, vamos ter um MultiIndex
data_tidy = data_per_year.pivot_table(index=['code', 'country_name','income_group','region','year'],
                                     columns = 'indicator_name', values = 'value')

In [23]:
data_tidy.head(50)

indicator_name                                                 Adjusted net savings (% of GNI)  \
code country_name income_group        region             year
AFG  Afghanistan  Low income          South Asia         1990                              NaN
                                                         1991                              NaN
                                                         1992                              NaN
                                                         1993                              NaN
                                                         1994                              NaN
                                                         1995                              NaN
                                                         1996                              NaN
                                                         1997                              NaN
                                                         1998                              NaN
                                                         1999                              NaN
                                                         2000                              NaN
                                                         2001                              NaN
                                                         2002                              NaN
                                                         2003                              NaN
                                                         2004                              NaN
                                                         2005                              NaN
                                                         2006                              NaN
                                                         2007                              NaN
                                                         2008                              NaN
                                                         2009                              NaN
                                                         2010                            -19.3
                                                         2011                            -25.3
                                                         2012                            -19.2
                                                         2013                            -26.7
                                                         2014                            -22.9
                                                         2015                            -27.6
                                                         2016                            -28.5
                                                         2017                              NaN
                                                         9999                            -28.5
AGO  Angola       Lower middle income Sub-Saharan Africa 1990                            -48.0
                                                         1991                              NaN
                                                         1992                              NaN
                                                         1993                              NaN
                                                         1994                              NaN
                                                         1995                              NaN
                                                         1996                              NaN
                                                         1997                              NaN
                                                         1998                              NaN
                                                         1999                              NaN
                                                         2000                            -75.1
                                                         2001                              NaN
                                                         2002                              NaN
                                                         2003                              NaN
                                                         2004                              NaN
                                                         2005                            -50.6
                                                         2006                              NaN
                                                         2007                              NaN
                                                         2008                              NaN
                                                         2009                              NaN
                                                         2010                            -38.1

indicator_name                                                 Adolescent birth rate (births per 1,000 women ages 15-19)  \
code country_name income_group        region             year
AFG  Afghanistan  Low income          South Asia         1990                                              161.2
                                                         1991                                                NaN
                                                         1992                                                NaN
                                                         1993                                                NaN
                                                         1994                                                NaN
                                                         1995                                              163.9
                                                         1996                                                NaN
                                                         1997                                                NaN
                                                         1998                                                NaN
                                                         1999                                                NaN
                                                         2000                                              165.2
                                                         2001                                                NaN
                                                         2002                                                NaN
                                                         2003                                                NaN
                                                         2004                                                NaN
                                                         2005                                              146.4
                                                         2006                                                NaN
                                                         2007                                                NaN
                                                         2008                                                NaN
                                                         2009                                                NaN
                                                         2010                                              101.8
                                                         2011                                               96.5
                                                         2012                                               91.2
                                                         2013                                               85.9
                                                         2014                                               80.6
                                                         2015                                               75.3
                                                         2016                                               64.5
                                                         2017                                               64.5
                                                         9999                                               64.5
AGO  Angola       Lower middle income Sub-Saharan Africa 1990                                              220.5
                                                         1991                                                NaN
                                                         1992                                                NaN
                                                         1993                                                NaN
                                                         1994                                                NaN
                                                         1995                                              213.0
                                                         1996                                                NaN
                                                         1997                                                NaN
                                                         1998                                                NaN
                                                         1999                                                NaN
                                                         2000                                              202.5
                                                         2001                                                NaN
                                                         2002                                                NaN
                                                         2003                                                NaN
                                                         2004                                                NaN
                                                         2005                                              192.8
                                                         2006                                                NaN
                                                         2007                                                NaN
                                                         2008                                                NaN
                                                         2009                                                NaN
                                                         2010                                              173.6

indicator_name                                                 Antenatal care coverage, at least one visit (%)  \
code country_name income_group        region             year
AFG  Afghanistan  Low income          South Asia         1990                                              NaN
                                                         1991                                              NaN
                                                         1992                                              NaN
                                                         1993                                              NaN
                                                         1994                                              NaN
                                                         1995                                              NaN
                                                         1996                                              NaN
                                                         1997                                              NaN
                                                         1998                                              NaN
                                                         1999                                              NaN
                                                         2000                                              NaN
                                                         2001                                              NaN
                                                         2002                                              NaN
                                                         2003                                              NaN
                                                         2004                                              NaN
                                                         2005                                              NaN
                                                         2006                                              NaN
                                                         2007                                              NaN
                                                         2008                                             36.0
                                                         2009                                              NaN
                                                         2010                                             59.6
                                                         2011                                             47.9
                                                         2012                                             51.2
                                                         2013                                              NaN
                                                         2014                                             63.2
                                                         2015                                             58.6
                                                         2016                                              NaN
                                                         2017                                              NaN
                                                         9999                                             58.6
AGO  Angola       Lower middle income Sub-Saharan Africa 1990                                              NaN
                                                         1991                                              NaN
                                                         1992                                              NaN
                                                         1993                                              NaN
                                                         1994                                              NaN
                                                         1995                                              NaN
                                                         1996                                              NaN
                                                         1997                                              NaN
                                                         1998                                              NaN
                                                         1999                                              NaN
                                                         2000                                              NaN
                                                         2001                                              NaN
                                                         2002                                              NaN
                                                         2003                                              NaN
                                                         2004                                              NaN
                                                         2005                                              NaN
                                                         2006                                              NaN
                                                         2007                                             79.8
                                                         2008                                              NaN
                                                         2009                                              NaN
                                                         2010                                              NaN

indicator_name                                                 Birth registration (% under age 5)  \
code country_name income_group        region             year
AFG  Afghanistan  Low income          South Asia         1990                                 NaN
                                                         1991                                 NaN
                                                         1992                                 NaN
                                                         1993                                 NaN
                                                         1994                                 NaN
                                                         1995                                 NaN
                                                         1996                                 NaN
                                                         1997                                 NaN
                                                         1998                                 NaN
                                                         1999                                 NaN
                                                         2000                                 NaN
                                                         2001                                 NaN
                                                         2002                                 NaN
                                                         2003                                 NaN
                                                         2004                                 NaN
                                                         2005                                 NaN
                                                         2006                                 NaN
                                                         2007                                 NaN
                                                         2008                                 NaN
                                                         2009                                 NaN
                                                         2010                                 NaN
                                                         2011                                 NaN
                                                         2012                                 NaN
                                                         2013                                 NaN
                                                         2014                                 NaN
                                                         2015                                 NaN
                                                         2016                                 NaN
                                                         2017                                 NaN
                                                         9999                                42.0
AGO  Angola       Lower middle income Sub-Saharan Africa 1990                                 NaN
                                                         1991                                 NaN
                                                         1992                                 NaN
                                                         1993                                 NaN
                                                         1994                                 NaN

In [24]:
data_tidy.shape

(5655, 156)

In [25]:
# Isso vai permitir voltar a um DataFrame normal
data_tidy.reset_index(inplace=True)

In [26]:
data_tidy.head(50)

indicator_name,code,country_name,income_group,region,year,Adjusted net savings (% of GNI),"Adolescent birth rate (births per 1,000 women ages 15-19)","Antenatal care coverage, at least one visit (%)",Birth registration (% under age 5),Carbon dioxide emissions (kg per 2011 PPP $ of GDP),...,"Unmet need for family planning (% of married or in-union women of reproductive age, 15–49 years)",Urban population (%),"Violence against women ever experienced, intimate partner (% of female population ages 15 and older)","Violence against women ever experienced, nonintimate partner (% of female population ages 15 and older)",Vulnerable employment (% of total employment),Women with account at financial institution or with mobile money-service provider (% of female population ages 15 and older),Working poor at PPP$3.10 a day (% of total employment),Young age (0-14) dependency ratio (per 100 people ages 15-64),Youth not in school or employment (% ages 15-24),Youth unemployment rate (female to male ratio)
0,AFG,Afghanistan,Low income,South Asia,1990,NaN,161.2,NaN,NaN,NaN,...,NaN,21.2,NaN,NaN,NaN,NaN,NaN,96.6,NaN,NaN
1,AFG,Afghanistan,Low income,South Asia,1991,NaN,NaN,NaN,NaN,NaN,...,NaN,21.3,NaN,NaN,62.0,NaN,98.9,96.5,NaN,1.01
2,AFG,Afghanistan,Low income,South Asia,1992,NaN,NaN,NaN,NaN,NaN,...,NaN,21.4,NaN,NaN,NaN,NaN,NaN,96.4,NaN,NaN
3,AFG,Afghanistan,Low income,South Asia,1993,NaN,NaN,NaN,NaN,NaN,...,NaN,21.4,NaN,NaN,NaN,NaN,NaN,96.4,NaN,NaN
4,AFG,Afghanistan,Low income,South Asia,1994,NaN,NaN,NaN,NaN,NaN,...,NaN,21.5,NaN,NaN,NaN,NaN,NaN,96.3,NaN,NaN
5,AFG,Afghanistan,Low income,South Asia,1995,NaN,163.9,NaN,NaN,NaN,...,NaN,21.6,NaN,NaN,73.7,NaN,99.2,95.8,NaN,1.11
6,AFG,Afghanistan,Low income,South Asia,1996,NaN,NaN,NaN,NaN,NaN,...,NaN,21.7,NaN,NaN,NaN,NaN,NaN,96.6,NaN,NaN
7,AFG,Afghanistan,Low income,South Asia,1997,NaN,NaN,NaN,NaN,NaN,...,NaN,21.8,NaN,NaN,NaN,NaN,NaN,97.4,NaN,NaN
8,AFG,Afghanistan,Low income,South Asia,1998,NaN,NaN,NaN,NaN,NaN,...,NaN,21.9,NaN,NaN,NaN,NaN,NaN,97.9,NaN,NaN
9,AFG,Afghanistan,Low income,South Asia,1999,NaN,NaN,NaN,NaN,NaN,...,NaN,22.0,NaN,NaN,NaN,NaN,NaN,98.4,NaN,NaN
10,AFG,Afghanistan,Low income,South Asia,2000,NaN,165.2,NaN,NaN,NaN,...,NaN,22.1,NaN,NaN,78.5,NaN,99.1,98.8,NaN,1.02
11,AFG,Afghanistan,Low income,South Asia,2001,NaN,NaN,NaN,NaN,NaN,...,NaN,22.2,NaN,NaN,NaN,NaN,NaN,98.4,NaN,NaN
12,AFG,Afghanistan,Low income,South Asia,2002,NaN,NaN,NaN,NaN,NaN,...,NaN,22.3,NaN,NaN,NaN,NaN,NaN,97.7,NaN,NaN
13,AFG,Afghanistan,Low income,South Asia,2003,NaN,NaN,NaN,NaN,NaN,...,NaN,22.4,NaN,NaN,NaN,NaN,NaN,96.8,NaN,NaN
14,AFG,Afghanistan,Low income,South Asia,2004,NaN,NaN,NaN,NaN,NaN,...,NaN,22.5,NaN,NaN,NaN,NaN,NaN,95.8,NaN,NaN
15,AFG,Afghanistan,Low income,South Asia,2005,NaN,146.4,NaN,NaN,0.05,...,NaN,22.7,NaN,NaN,73.8,NaN,99.0,94.7,NaN,1.08
16,AFG,Afghanistan,Low income,South Asia,2006,NaN,NaN,NaN,NaN,0.05,...,NaN,22.9,NaN,NaN,73.1,NaN,99.0,95.2,NaN,1.06
17,AFG,Afghanistan,Low income,South Asia,2007,NaN,NaN,NaN,NaN,0.07,...,NaN,23.1,NaN,NaN,72.0,NaN,98.9,95.8,NaN,1.08
18,AFG,Afghanistan,Low income,South Asia,2008,NaN,NaN,36.0,NaN,0.12,...,NaN,23.3,NaN,NaN,71.4,NaN,98.9,96.1,NaN,1.05
19,AFG,Afghanistan,Low income,South Asia,2009,NaN,NaN,NaN,NaN,0.16,...,NaN,23.5,NaN,NaN,69.0,NaN,98.9,96.2,NaN,1.09
20,AFG,Afghanistan,Low income,South Asia,2010,-19.3,101.8,59.6,NaN,0.18,...,NaN,23.7,NaN,NaN,67.2,NaN,98.9,95.8,NaN,1.06
21,AFG,Afghanistan,Low income,South Asia,2011,-25.3,96.5,47.9,NaN,0.25,...,NaN,23.9,NaN,NaN,66.6,2.6,98.8,94.1,NaN,1.07
22,AFG,Afghanistan,Low income,South Asia,2012,-19.2,91.2,51.2,NaN,0.19,...,NaN,24.2,NaN,NaN,65.4,NaN,98.7,91.9,NaN,1.07
23,AFG,Afghanistan,Low income,South Asia,2013,-26.7,85.9,NaN,NaN,0.17,...,NaN,24.4,NaN,NaN,65.1,NaN,98.6,89.3,NaN,1.07
24,AFG,Afghanistan,Low income,South Asia,2014,-22.9,80.6,63.2,NaN,0.16,...,NaN,24.6,NaN,NaN,65.3,3.8,98.5,86.7,NaN,1.07
25,AFG,Afghanistan,Low income,South Asia,2015,-27.6,75.3,58.6,NaN,NaN,...,NaN,24.8,NaN,NaN,65.8,NaN,98.4,84.1,NaN,1.07
26,AFG,Afghanistan,Low income,South Asia,2016,-28.5,64.5,NaN,NaN,NaN,...,24.5,25.0,NaN,NaN,66.0,NaN,98.3,81.8,NaN,1.07
27,AFG,Afghanistan,Low income,South Asia,2017,NaN,64.5,NaN,NaN,NaN,...,NaN,25.2,NaN,NaN,66.1,7.2,98.2,79.8,NaN,1.05
28,AFG,Afghanistan,Low income,South Asia,9999,-28.5,64.5,58.6,42.0,0.16,...,24.5,25.2,50.8,NaN,66.1,7.2,98.2,79.8,NaN,1.05
29,AGO,Angola,Lower middle income,Sub-Saharan Africa,1990,-48.0,220.5,NaN,NaN,0.12,...,NaN,37.1,NaN,NaN,NaN,NaN,NaN,98.2,NaN,NaN
30,AGO,Angola,Lower middle income,Sub-Saharan Africa,1991,NaN,NaN,NaN,NaN,NaN,...,NaN,38.6,NaN,NaN,72.8,NaN,48.0,98.6,NaN,1.05
31,AGO,Angola,Lower middle income,Sub-Saharan Africa,1992,NaN,NaN,NaN,NaN,NaN,...,NaN,40.0,NaN,NaN,NaN,NaN,NaN,98.5,NaN,NaN
32,AGO,Angola,Lower middle income,Sub-Saharan Africa,1993,NaN,NaN,NaN,NaN,NaN,...,NaN,41.5,NaN,NaN,NaN,NaN,NaN,98.0,NaN,NaN
33,AGO,Angola,Lower middle income,Sub-Saharan Africa,1994,NaN,NaN,NaN,NaN,NaN,...,NaN,43.0,NaN,NaN,NaN,NaN,NaN,97.3,NaN,NaN
34,AGO,Angola,Lower middle income,Sub-Saharan Africa,1995,NaN,213.0,NaN,NaN,0.31,...,NaN,44.2,NaN,NaN,64.2,NaN,49.2,96.5,NaN,1.06
35,AGO,Angola,Lower middle income,Sub-Saharan Africa,1996,NaN,NaN,NaN,NaN,NaN,...,NaN,45.3,NaN,NaN,NaN,NaN,NaN,96.5,NaN,NaN
36,AGO,Angola,Lower middle income,Sub-Saharan Africa,1997,NaN,NaN,NaN,NaN,NaN,...,NaN,46.5,NaN,NaN,NaN,NaN,NaN,96.3,NaN,NaN
37,AGO,Angola,Lower middle income,Sub-Saharan Africa,1998,NaN,NaN,NaN,NaN,NaN,...,NaN,47.7,NaN,NaN,NaN,NaN,NaN,95.8,NaN,NaN
38,AGO,Angola,Lower middle income,Sub-Saharan Africa,1999,NaN,NaN,NaN,NaN,NaN,...,NaN,48.9,NaN,NaN,NaN,NaN,NaN,95.3,NaN,NaN
39,AGO,Angola,Lower middle income,Sub-Saharan Africa,2000,-75.1,202.5,NaN,NaN,0.20,...,NaN,50.1,NaN,NaN,61.1,NaN,44.0,94.6,NaN,1.05
40,AGO,Angola,Lower middle income,Sub-Saharan Africa,2001,NaN,NaN,NaN,NaN,NaN,...,NaN,51.3,NaN,NaN,NaN,NaN,NaN,94.7,NaN,NaN
41,AGO,Angola,Lower middle income,Sub-Saharan Africa,2002,NaN,NaN,NaN,NaN,NaN,...,NaN,52.5,NaN,NaN,NaN,NaN,NaN,94.5,NaN,NaN
42,AGO,Angola,Lower middle income,Sub-Saharan Africa,2003,NaN,NaN,NaN,NaN,NaN,...,NaN,53.6,NaN,NaN,NaN,NaN,NaN,94.3,NaN,NaN
43,AGO,Angola,Lower middle income,Sub-Saharan Africa,2004,NaN,NaN,NaN,NaN,NaN,...,NaN,54.8,NaN,NaN,NaN,NaN,NaN,94.0,NaN,NaN
44,AGO,Angola,Lower middle income,Sub-Saharan Africa,2005,-50.6,192.8,NaN,NaN,0.25,...,NaN,56.0,NaN,NaN,70.9,NaN,44.0,93.7,NaN,1.06
45,AGO,Angola,Lower middle income,Sub-Saharan Africa,2006,NaN,NaN,NaN,NaN,0.24,...,NaN,56.8,NaN,NaN,70.1,NaN,45.5,94.0,NaN,1.06
46,AGO,Angola,Lower middle income,Sub-Saharan Africa,2007,NaN,NaN,79.8,NaN,0.22,...,NaN,57.5,NaN,NaN,69.4,NaN,46.6,94.1,NaN,1.05
47,AGO,Angola,Lower middle income,Sub-Saharan Africa,2008,NaN,NaN,NaN,NaN,0.20,...,NaN,58.3,NaN,NaN,68.4,NaN,48.9,94.2,NaN,1.04
48,AGO,Angola,Lower middle income,Sub-Saharan Africa,2009,NaN,NaN,NaN,NaN,0.21,...,NaN,59.0,NaN,NaN,67.8,NaN,51.6,94.1,NaN,1.03
49,AGO,Angola,Lower middle income,Sub-Saharan Africa,2010,-38.1,173.6,NaN,NaN,0.21,...,NaN,59.8,NaN,NaN,67.8,NaN,56.9,93.9,NaN,1.01

In [27]:
data_tidy.shape
# vemos que temos bem 1 linha por pais e ano pois : 5655 = 29 * 195 (195 paises e 28 anos estudados e '9999' )


# teriamos q ter 162 colunas né ? pois 162 = 157 + 5 (157 indicadores e os 5 indicadores de pais)

(5655, 161)

In [ ]:
# Valores mais recentes para fazer analises numericas
recent_data = data_tidy[(data_tidy.year == 2017)]

In [ ]:
recent_data.head()

In [ ]:
# Valores mais recentes de GENERO (com os indicadores de country) para fazer analises numericas
gender_indicators = data[(data.category == 'Gender')].indicator_name.unique()
other_indicators = np.asarray(['code', 'country_name','income_group','region','year'])
recent_indicators = np.concatenate((other_indicators, gender_indicators))
recent_data_gender = recent_data[recent_indicators]

In [ ]:
recent_data_gender

## 2 - Dados numericos

### Examinando

In [ ]:
# método de descrição de atributos numéricos (nao faz muito sentido pois tem todas as categorias diferentes)
data.describe()

#####ACHO QUE ISSO DAQUI NAO TA BOM POIS TERIAMOS QUE CRIAR UM DATAFRAME PARA CADA ASPECTO ESTUDADO...

## 3 - Dados categoricos

### Examinando

In [ ]:
# Todos os paises nao tem dados para todas as categorias
data['country_name'].value_counts(dropna=False)

In [ ]:
# Todos os indicadores nao tem o mesmo numero de respostas...
print(pd.DataFrame(data['indicator_name'].value_counts(dropna=False)))

In [ ]:
#Numero de respostas por indicador de gênero
print(pd.DataFrame(data[(data.category == 'Gender')]['indicator_name'].value_counts(dropna=False)))

### Visualizando

### Examinando por categoria

## PERGUNTA 1 - blabla

## PERGUNTA 2 - blabla

## PERGUNTA 3 - blabla

## PERGUNTA 4 - blabla

## PERGUNTA 5 - blabla

## PERGUNTA 6 - blabla

## PERGUNTA 7 - blabla

## PERGUNTA 8 - blabla

## PERGUNTA 9 - blabla

## PERGUNTA 10 - blabla